<app-header></app-header>

<ion-content class="ion-padding content">
  <div class="fields">
      <div class="title-page">
        <h2>Welcome to the jungle</h2>
      </div>

      <div class="app-input">
        <button class="app-button" (click)="goToList()">Tous les pokemons</button>
      </div>
      <div class="app-input">
        <button class="app-button">Pokemons par catégorie</button>
      </div>
      <div class="app-input">
        <ion-label for="search-field">Rechercher un pokemon</ion-label>
        <input class="app-field-text" type="text" name="search-field" />
        <button class="app-button">Rechercher</button>
      </div>
  </div>


</ion-content>
